
@{
    ViewBag.Title = "salesWelcome";
}

<div class="salesman-greeting">       
    <h2>Hello, Salesman!</h2>       
    <p>Welcome to the sales department. We're glad to have you on our team.</p>    </div>
<style>
    .nbox {
        border: 1px solid #000;
        margin: 10px;
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
    }
</style>

<div style="display:flex; height:500px">



    <div class="nbox" style="padding:10px;width:50%">
        <h4>Category</h4>
        <br />
        <center>
            <img src="~/NewFolder1/salesCategory.png" style="max-width: 100%; height: auto;" />
        </center>
        <br />
        <center>
            @Html.ActionLink("Create Category", "Create", "MyCategories", null, new { @class = "btn btn-warning" })
        </center>
        <br />
        <center>
            @Html.ActionLink("View Category", "Index", "MyCategories", null, new { @class = "btn btn-info" })
        </center>



    </div>
    <div class="nbox" style="padding:10px;width:50%">
        <h4>Items</h4>
        <br />
        <center>
            <img src="~/NewFolder1/salessItems.jpg" style="max-width: 100%; height: auto;" />
        </center>
        <br />
        <center>
            @Html.ActionLink("Insert Item", "Create", "MyItems", null, new { @class = "btn btn-warning" })
        </center>
        <br />
        <center>
            @Html.ActionLink("View Items", "Index", "MyItems", null, new { @class = "btn btn-info" })
        </center>



    </div>
    <div class="nbox" style="padding:10px;width:50%">
        <h4>Customers</h4>
        <br />
        <center>
            <img src="~/NewFolder1/salesCustomers.png" style="max-width: 100%; height: auto;" />
        </center>
        <br />
        <br/>
        <center>
            @Html.ActionLink("Add Customers", "Create", "myCustomers", null, new { @class = "btn btn-warning" })
        </center>
        <br />
        <center>
            @Html.ActionLink("View Customers", "Index", "myCustomers", null, new { @class = "btn btn-info" })
        </center>



    </div>
    <div class="nbox" style="padding:10px;width:50%">
        <h4>Trusted Customers</h4>
        <br />
        <center>
            <img src="~/NewFolder1/salesTrusted.png" style="max-width: 100%; height: auto;" />
        </center>
        <br />
        <br/>
        <br/>
        <br/>
        <center>
            @Html.ActionLink("Stock Briefs", "Report", "MyItems", null, new { @class = "btn btn-warning" })
        </center>
        <br />
        <center>
            @Html.ActionLink("Loyal Customers", "LongTermCustomers", "myCustomers", null, new { @class = "btn btn-info" })
        </center>



    </div>

</div>
<br />
<br />
<p>Date: @DateTime.Now</p>
@Html.ActionLink("LogOut", "logout", "Myusers", null, new { @class = "btn btn-danger" })