@model InventoryASSIGNMENT.Models.MyOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MyOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.order_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.due_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.due_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.myCustomer.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.myCustomer.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MyUser.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MyUser.fname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
